@media (min-width: 0px) and (max-width: 575.98px) {
  .mainContainer {
    width: 100%;
    height: 100vh;
    padding-top: 0;
  }

  .container {
    flex-direction: column;
    overflow: visible;
    overflow: hidden;
    height: 590px;
  }

  .month {
    height: 580px;
    background-color: yellow;
    display: block;
  }

  .banner {
    width: 100%;
    height: 280px;
    overflow: visible;
  }

  .apr .banner {
    background-size: cover;
  }

  .may .banner {
    background-size: cover;
  }
  .jun .banner {
    background-size: cover;
  }
  .jul .banner {
    background-size: 170%;
  }
  .aug .banner {
    background-size: 150%;
  }

  .sep .banner {
    background-size: 150%;
  }

  .oct .banner {
    background-size: cover;
  }

  .nov .banner {
    background-size: 100%;
    background-position: top;
  }

  .dec .banner {
    background-size: cover;
  }

  .details {
    width: 100%;
    height: 300px;
    align-items: center;
  }

  .details p {
    line-height: 30px;
    font-size: 1.2rem;
    /* height: 30px; */
  }

  .details-title {
    background-color: transparent;
    font-size: 2.5rem;
    padding-top: 0px;
    color: black;
    text-shadow: -5px -0px 5px rgb(255, 255, 255),
      0 5px 5px rgba(12, 12, 255, 0.527);
  }

  .weeks {
    font-size: 1rem;
    font-weight: bold;
  }

  .sunday {
    background-color: transparent;
  }
}
