*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
}

body{
    background-color: beige;
    min-height: 100vh;
}

body>h1{
    text-align: center;
    color: black;
    padding-top: 20px;
    font-size: 3rem;
}

body>.container{
    width: 100%;
    min-height: 100vh;
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.container>a{
    width: 30%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
}

.container>a>div{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 40px;
    color: white;
    line-height: 40vh;
    transition: .4s ease-in-out;
}

.container>a>div:hover{
    font-size: 45px;
}




/* responisveness css */

@media (max-width:430px) {

    body>h1{
        font-size: 20px;
    }

    .container>a{
        width: 90%;
        height: 40vh;
    }

    .container>a>div{
        font-size: 26px;
        line-height: 40vh;
    }
    
}
