@media (min-width: 0px) and (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .container {
    width: 80%;
  }

  .logo {
    height: 30px;
    background-size: 120%;

  }

  .top-search-input {
    height: 55px;
    justify-content: space-between;

  }

  .top-serach-bar {
    height: 3vh;
    width: 120%;
  }

  .nav-bar li {
    margin-right: 15px;
    line-height: 45px;
  }

  .nav-bar li:hover {
    border-bottom: 2px solid #ff5300;
  }

  .nav-bar li a {
    font-size: .8em;
  }

  .badge {
    font-size: .8em;
  }

  /* Banner */

  .banner-container {
    font-size: 1.2rem;
  }

  .slider-container {
    width: 100%;
    height: 80px;
    /* background-color: salmon; */
  }

  .slider-ele {
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 3.5rem;
  }

  @keyframes banner-slider {
    12.5% {
      margin-top: -80px;
    }

    25% {
      margin-top: -80px;
    }

    37.5% {
      margin-top: -160px;
    }

    50% {
      margin-top: -160px;
    }

    62.5% {
      margin-top: -240px;
    }

    75% {
      margin-top: -240px;
    }

    87.5% {
      margin-top: -320px;
    }

    100% {
      margin-top: -320px;
    }
  }

  .filter-btn {
    font-size: 1rem;
  }

  .bottom-intro {
    font-size: .8em;
  }
  .intro-logos {
    font-size: 2rem;
  }

  /* Ends */
  /* ------------------------------------------------------------------- */

  /* Find The Perfect Escapes Section */
  .escapes {
    height: 200px;
  }

  .escape_title {
    font-size: 5rem;
    
  }

  .escape_images img {
    width: 100%;
  }

  /* Ends */
  /* ------------------------------------------------------------------- */
  /* Escape */
  .escape_title {
    font-size: 2em;
  }

  .escape_caption {
    font-size: 1.4em;
  }

  /* Ends*/

  /* ------------------------------------------------------------------- */

  /* Holiday Section */

  .banner-upto {
    font-size: 1.5em;
  }

  .discount-left {
    font-size: 6em;
  }

  .discount-right {
    font-size: 2em;
    padding-top: 50px;
  }

  .off-text {
    font-size: 0.5em;
    line-height: 1;
  }

  /* Ends*/

  /* ------------------------------------------------------------------- */

  /* KTM Slider Section */
  .slider-img {
    height: 300px;
  }

  /* Ends*/

  /* ------------------------------------------------------------------- */

  /* Customer Experiences */
  .cards_header_title {
    font-size: 2em;
  }

  .card-detail-title {
    font-size: 1em;
  }

  .destination-btn {
    font-size: 1.1em;
  }

  .destination-card {
    font-size: 0.7em;
  }

  /* Ends*/

  /* ------------------------------------------------------------------- */

  /* Paradise Section */

  .paradise-card {
    font-size: 0.8em;
  }

  .paradise-title {
    font-size: 1em;
  }

  /* Ends*/

  /* ------------------------------------------------------------------- */

  /* Latest Travel Trends */
  .travel-trends-article {
    height: 400px;
  }

  .sub-article-title {
    font-size: 1em;
  }

  .sub-article-title p {
    font-size: 0.7em;
  }

  .travel-trends-article-right>h2 {
    margin: 10px 0;
    font-size: 1.5em;
  }

  .travel-trends-article-right>p {
    font-size: .8em;
  }

  .trend-serch-article {
    margin-left: 65%;
    font-size: 1em;
  }

  .travel-trends-article-right>a {
    margin-left: 65%;
  }

  /* Ends*/

  /* ------------------------------------------------------------------- */

  /* Gift an Experience */
  .gift-exp-title {
    font-size: 2em;
    font-weight: 500;
  }

  .gift-exp-caption {
    font-size: 1em;
  }

  .gift-exp-btn {
    font-size: 1.2em;
  }

  /* Ends*/

  /* ------------------------------------------------------------------- */

  /* Our Partners */

  .our-partner-title {
    font-size: 2em;
  }

  .our-partner-caption {
    font-size: 1.2em;
  }

  /* Ends*/

  /* ------------------------------------------------------------------- */

  /* Footer Section */
  .footer-wrapper {
    height: 550px;
  }

  .footer-about-secton>h5 {

    font-size: 1em;
  }

  .footer-about-secton>a {

    font-size: 0.7em;

  }

  .destitanion-img-holder {
    height: 60px;
  }

  .footer-destination-img-holder>h5 {
    font-size: 1.2em;
  }

  .destitanion-img-holder>span {
    font-size: .5em;
  }

  .footer-logo {
    margin-left: 10%;
  }

  .footer-logo::before {
    width: 150%;
    margin-left: -180%;
  }

  .footer-logo::after {
    width: 150%;
  }

  .footer-social-links {
    width: 25px;
    height: 25px;
  }

  .footer-social-links:nth-child(1) {
    margin-left: 8%;
  }

  .footer-reserved-copy {
    font-size: 1em;
  }

  .footer-reserved {

    font-size: .8em;
  }

}