@media (min-width:1025px) and (max-width:1280px) {
    .header{

        background-color: white;
    }
.logo{
    width: 35%;
    color: orangered;
}
.navigation{
    width: 65%;
}
.nav-links{
    font-size: 16px;
    /* background-color: white */
    color: orangered;
}
.nav-links:hover {
    
    font-weight: bold;
  }
  



}