@media (max-width:320px) {

    /* Potrait Mobiles */

    /* CSS for Header */
    .logo{
        font-size: 30px;
    }


    /* Banner Section */

    .banner {
height: 70vh;
       
        background-position: 0px 0px;
overflow: hidden;
    }
.cut{
    display: none;
}


    /* CSS For Product Section */
    
    .product-title{
        font-size: 25px;
    }
    /* CSS For gallery */

   

    /* CSS for Contact */

    .contact-title{
        font-size: 35px;
    }


    /* CSS For Subscribe Section */
    .subscribe_input{
        width: 85%;
    }
    .subscribe_btn{
        padding: 9px;
    }

    /* CSS For Footer Section */
   
}