@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ramaraja&display=swap");

/* 

font-family: 'Dancing Script', cursive;
font-family: 'Ramaraja', serif;

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centerall {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: red;
  padding: 10px;
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 0px 23px 23px 0px;
  box-shadow: 2px 2px 10px #000000;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.5s;
}
.btn:hover {
  transform: scale(1.05);
}

/* ------------------------------------------------- */
.header {
  width: 100%;
  height: 10vh;
  background-color: rgb(13, 170, 144);
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}
.header_logo {
  width: 20%;
  font-family: "Dancing Script", cursive;
  color: rgb(255, 4, 4);
  text-shadow: 6px 5px 6px black;
  transition: all 0.5s;
}
.navigator {
  width: 45%;
}
.nav_holder {
  /* justify-content: space-evenly; */
  list-style-type: none;
  font-family: cursive;
  font-weight: 400;
}
.nav-list > a {
  display: inline-block;
  height: 10vh;
  padding: 0 20px;
  line-height: 10vh;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}
.nav-list > a:hover {
  font-size: 1.1rem;
  background-color: rgb(1, 131, 109);
  color: #000;
}

/* ********************************************************************************* */

.banner_container {
  justify-content: space-around;
  margin-top: 10vh;
}
.banner_image {
  width: 50%;
}
.img {
  /* background-color: greenyellow; */
  background-image: url("../media/images/self.jpg");
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 0px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: -5px -5px 3px rgb(71, 68, 68);
}
.img > img {
  width: 100%;
}
.banner_title {
  /* background-color: saddlebrown; */
  width: 50%;
  padding: 10px 20px;
  font-family: "Ramaraja", serif;
  font-size: 2rem;
  flex-direction: column;
  align-items: flex-start;
}

/* ------------------------------ */
.about_container {
  margin-top: 5%;
  width: 100%;
  height: 400px;
  background-color: #fff7ed;
  justify-content: space-around;
  /* padding: 1%; */
}

.about {
  width: 45%;
  height: 300px;
  /* border: 1px solid red; */
  /* padding: 1%; */
}
.about-img {
  width: 45%;
  height: auto;
}
.about-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #000;
  text-shadow: 4px 2px 5px gray;
  margin-bottom: 1.5%;
}
.about-containt {
  text-align: justify;
  text-indent: 50px;
    font-size: 1.1rem;
  margin-bottom: 1.5%;
}
.about-containt > span {
  font-size: 1.2rem;
  font-style: italic;
}

.about-img {
  height: 90%;
  border: 5px solid black;
  overflow: hidden;
}
.about-img > img {
  width: 100%;
}

/* ------------------------------------ */
.project_container {
  flex-direction: column;
  width: 90%;
  height: 510px;
  /* background-color: red; */
  margin-bottom: 10px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
}
.project_container > h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.project-holder {
  width: 1500px;
  height: auto; 
  /* background-color: green; */
  flex-wrap: wrap;
  overflow: hidden;
}

.projects {
  width:300px;
  height: 100%;
  /* background-color: #cf7e1b; */
  padding: 5px;
 
}
.projects > img {
  width: 100%;
  height: 300px;
  background-color: rgb(212, 207, 218);
  margin-bottom: 10px;
}
.project_title {
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
}
.project-desc {
  margin-bottom: 10px;
  text-indent: 30px;
  text-align: justify;
}
.project-btn {
  font-size: 18px;
  width: 100%;
  border-radius: 0%;
  box-shadow: none;
  background-color: #dfc4c4;
  color: black;
  transition: all 0.3s;
  border-radius: 50px 50px 0px 0px ;
  box-shadow: 0px 0px 5px red;
}
.project-btn:hover {
  background-color: #ac3636;
  color: white;
}

/* ............ */

/* Footer CSS */

.footer {
  height: 300px;
  background-color: rgb(187, 199, 199);
  justify-content: space-evenly;
}

.footer_section {
  width: 250px;
  height: 250px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: bold;
}

.footer_title {
  font-size: 25px;
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
  padding: 5px;
}

.footer_address {
  line-height: 140%;
}

#email{
  color: blue;
}

.footer_links {
  padding-bottom: 10px;
  cursor: pointer;
  list-style-type: none;
}

.footer_links:hover {
  color: orangered;
}

.footer_btn {
  padding: 3px;
  font-size: 18px;
  margin-top: 10px;
  transition: 0.9s;
}
.footer_btn:hover{
  background-color: gray;
  /* color: white; */
}
.footer_btn>a{
  color: black;
  padding: 5px;
  text-decoration: none;
}

/* .footer_btn:hover {
  background-color: gray;
  color: white;
} */

.social_icons {
  width: 20px;
}

.social_links {
  text-decoration: none;
  color: #000;
}
.social_links:hover{
  color: red;
}


.btn-cv{
  width: 100%;
}
/* ---------End-------------- */

/* CSS for Copyright */

.copyright {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 40px;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 2560px) {
  .footer {
    height: 500px;
  }

  .footer_section {
    width: 23%;
    height: 450px;
    font-size: 35px;
    /* background-color: tomato; */
    justify-content: start;
  }

  .footer_title {
    font-size: 50px;
  }

  .social_icons {
    width: 45px;
    margin-right: 20px;
  }

  .footer_links {
    padding-bottom: 15px;
  }

  .footer_btn {
    font-size: 35px;
  }

  .copyright {
    height: 80px;
    font-size: 40px;
  }
}
  
